@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700");


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

	font-family:'Open Sans';
}

a{
	text-decoration: none;
}
div#header {
	width: 100%;
	height: 50px;
	background-color: #2980b9;
	margin: 0 auto;
	

}

.logo {
	float:left;
	margin-top: 10px;
	margin-left: 15px;
}

.logo a {
	font-size: 1.3em;
	color: #fff;
}

.logo a span {
	font-weight: 300;

}
.logo02 {
	margin-left: 41%;
	padding: 10px
}

.logo2 ul{
	margin:0 auto ;
}

.logo02 ul li {
	list-style: none;
	display: inline-block;
	margin-left: 10px;
	
}

.logo02 li a:hover {
	font-size: 1.3em;
	color: #3498db;
	font-weight: 300;
	transition: 0.2s;
}
.logo02 li a {
	background: #000;
	color: #bdc3c7;
	border-style: solid;
	
}


li#firstFont {
	font-family:'Copperplate Gothic Light';
	font-size: 1.5em;
}
li#secondFont {
	font-family:'DK Snippity Snap';
	font-size: 1.2em;
}
li#thirdFont {
	font-family:'OCR A Extended';
	font-size: 1.5em;
}

div form {
	
	display:inline-block;
	float:right;
}



div#container
{
	width: 100%;
	margin: 0 auto;
}
.sidebar
{
	width: 200px;
	height: 1000px;
	background-color: #171717;
	float:left;
}


ul#nav{

}


ul#nav li
{
	list-style: none;
}

ul#nav li a{
	
	color:#ccc;
	padding: 10px;
	font-size: 0.8em;
	display: block;
	border-bottom: 1px solid #0A0A0A;
	transition:0.2s;

}

ul#nav li a img{
	float:right;
}


ul#nav li a.selected{
	background-color: #030303;
	color:#fff;
}

ul#nav li a:hover{

	background-color: #030303;
	color:#fff;
	padding-left :30px;
}




.content{
	width: auto;
	margin-left: 200px;
	height: 1000px;
	background-color: #fff;
	padding: 15px;
}

.content p{
	
}

.content h1{
	text-align: center;
}

.content h3{
	text-align: center;
}

.content h5{
	font-family :'Vladimir Script';
	text-align: center;
	font-size: 2em;
}




.content img{
	display: block;
	margin:auto;
	width: 100%;
	


	
	
}

div#box{
	margin-top: 15px;
}
div#box .box-top{
	color:#fff;
	text-shadow: 0px 1px #000;
	background-color: #2980b9;
	padding: 5px;
	font-weight: 300;
	padding-left: 15px;
}
div#box .box-panel{
	padding: 15px;
	background-color: #ecf0f1;
}


	
	
